*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
/cdk.context.json
/synth-check/PacdDevopsStack.template.json
/hherrera007
/hherrera007.pub
